<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pong" src="{{ "/assets/img/Pong1.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pongject </h3>
    <ul>
      <li> My Pong project (HTML,CS & JS)</li>
    </ul>
    <p>I re-created one of my all time favourite Atari games as a child PONG, a simple yet very addictive two player game. Click check it out below to play my game on codepen!</p>
    <a class="project-link" href="https://codepen.io/deanmck123/pen/wvJrbvz">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="snake" src="{{ "/assets/img/snake.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SNAKE </h3>
    <ul>
      <li> Snake Project (Python 3.0)</li>
    </ul>
    <p>Here is a simple terminal game I made based on the classic game SNAKE, it can be played on terminal of your IDE once compiled. Click check it out below to fork and use the code yourself!</p>
    <a class="project-link" href="https://github.com/DeanMcK123/PythonSnake/blob/main/snake.py">Check it out</a>
  </div>
</div>
